extends ./extends/orderDetail_layout

block content

    div.main.p-2.flex-grow-1.bd-dark
        table.table.table-sm.table-bordered
            thead
                tr
                    th(colspan="2") 
                        h3.d-inline
                            span.badge.badge-danger 收
                        | 订单详情
            tbody
                tr
                    td(colspan="2")
                        img.w-100(src='/images/img1.png', alt='Card image cap')
                tr
                    th(scope="row") 订单号
                    td #1234567890
                tr
                    th(scope="row") 订单类别
                    td 订单类别
                tr
                    th(scope="row") 标题
                    td 标题
                tr
                    th(scope="row") 商品名
                    td 商品名
                tr
                    th(scope="row") 条形码
                    td 条形码
                tr
                    th.w-50(scope="row") 
                        | 目标单价
                        <br>
                        | 
                        small *备注：百起百起百起百起百起百起百起百起百起百起百起百起百起百起
                    td 10000円
                tr
                    th(scope="row") 数量
                    td 50000箱
                tr
                    th(scope="row") 现/期货
                    td 现
                tr
                    th(scope="row") 到货日期
                    td 到货日期
                tr
                    th(scope="row") 截至日期
                    td 截至日期
                tr
                    th(scope="row") 运费负担者
                    td 包运费
                tr
                    th(scope="row") 运费
                    td 50000
                tr
                    th(scope="row") 交易地点
                    td 东京
                tr
                    th(scope="row") 其他说明
                    td 其他说明