extends ./extends/recommend_layout

block content

    div.main.p-2.flex-grow-1.bd-dark 
        .row.no-gutters
            .col-6.col-md-4
                .card(onclick="location.href='/orderDetail?oid=1'")
                    .card-header
                        .row.no-gutters
                            .col-6 #1234567890
                            .col-6.text-right 今天 14:23
                    .card-body
                        img(src='/images/img1.png', alt='Card image cap')
                        h5.card-title.mb-1 标题最大2行....................
                        span.badge.badge-info.m-1 现
                        span.badge.badge-success.m-1 运
                        dl.row.no-gutters.mb-1
                            dt.col-4 目标
                            dd.col-8.mb-1 500000円
                            dt.col-4  数量
                            dd.col-8.mb-1  500000箱
                        button.btn.btn-primary.btn-sm.float-left(type="button") 心
                        p.card-text.text-right
                            a(href="#") 
                                small.text-muted 有10人出价
                    .card-footer
                        small.text-muted 株式会社 万象通商
            .col-6.col-md-4
                .card(onclick="")
                    .card-header
                        .row.no-gutters
                            .col-6 #1234567890
                            .col-6.text-right 今天 14:23
                    .card-body
                        img(src='/images/img1.png', alt='Card image cap')
                        h5.card-title.mb-1 标题最大2行....................
                        span.badge.badge-info.m-1 现
                        span.badge.badge-success.m-1 运
                        dl.row.no-gutters.mb-1
                            dt.col-4 目标
                            dd.col-8.mb-1 500000円
                            dt.col-4  数量
                            dd.col-8.mb-1  500000箱
                        button.btn.btn-primary.btn-sm.float-left(type="button") 心
                        p.card-text.text-right
                            small.text-muted 有10人出价
                    .card-footer
                        small.text-muted 株式会社 万象通商
            .col-6.col-md-4
                .card(onclick="")
                    .card-header
                        .row.no-gutters
                            .col-6 #1234567890
                            .col-6.text-right 今天 14:23
                    .card-body
                        img(src='/images/img1.png', alt='Card image cap')
                        h5.card-title.mb-1 标题最大2行....................
                        span.badge.badge-info.m-1 现
                        span.badge.badge-success.m-1 运
                        dl.row.no-gutters.mb-1
                            dt.col-4 目标
                            dd.col-8.mb-1 500000円
                            dt.col-4  数量
                            dd.col-8.mb-1  500000箱
                        button.btn.btn-primary.btn-sm.float-left(type="button") 心
                        p.card-text.text-right
                            small.text-muted 有10人出价
                    .card-footer
                        small.text-muted 株式会社 万象通商
            .col-6.col-md-4
                .card(onclick="")
                    .card-header
                        .row.no-gutters
                            .col-6 #1234567890
                            .col-6.text-right 今天 14:23
                    .card-body
                        img(src='/images/img1.png', alt='Card image cap')
                        h5.card-title.mb-1 标题最大2行....................
                        span.badge.badge-info.m-1 现
                        span.badge.badge-success.m-1 运
                        dl.row.no-gutters.mb-1
                            dt.col-4 目标
                            dd.col-8.mb-1 500000円
                            dt.col-4  数量
                            dd.col-8.mb-1  500000箱
                        button.btn.btn-primary.btn-sm.float-left(type="button") 心
                        p.card-text.text-right
                            small.text-muted 有10人出价
                    .card-footer
                        small.text-muted 株式会社 万象通商
            .col-6.col-md-4
                .card(onclick="")
                    .card-header
                        .row.no-gutters
                            .col-6 #1234567890
                            .col-6.text-right 今天 14:23
                    .card-body
                        img(src='/images/img1.png', alt='Card image cap')
                        h5.card-title.mb-1 标题最大2行....................
                        span.badge.badge-info.m-1 现
                        span.badge.badge-success.m-1 运
                        dl.row.no-gutters.mb-1
                            dt.col-4 目标
                            dd.col-8.mb-1 500000円
                            dt.col-4  数量
                            dd.col-8.mb-1  500000箱
                        button.btn.btn-primary.btn-sm.float-left(type="button") 心
                        p.card-text.text-right
                            small.text-muted 有10人出价
                    .card-footer
                        small.text-muted 株式会社 万象通商
            .col-6.col-md-4
                .card.p-3
                    blockquote.blockquote.mb-0.card-body
                        p 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.  
                        footer.blockquote-footer
                            small.text-muted Someone famous in 
                            cite(title='Source Title') Source Title
            .col-6.col-md-4
                .card
                    img.card-img-top(src='/images/img1.png', alt='Card image cap')
                    .card-body
                        h5.card-title 3 Card title
                        p.card-text This card has supporting text below as a natural lead-in to additional content.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
            .col-6.col-md-4
                .card.bg-primary.text-white.text-center.p-3
                    blockquote.card-blockquote.mb-0
                        p 4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
                        footer.blockquote-footer
                            small Someone famous in 
                            cite(title='Source Title') Source Title
            .col-6.col-md-4
                .card.text-center
                    .card-body
                        h5.card-title 5 Card title
                        p.card-text This card has supporting text below as a natural lead-in to additional content.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
            .col-6.col-md-4
                .card
                    img.card-img(src='/images/img1.png', alt='Card image')
            .col-6.col-md-4
                .card.p-3.text-right
                    blockquote.card-blockquote.mb-0
                    p 7 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                    footer.blockquote-footer
                        small.text-muted Someone famous in 
                            cite(title='Source Title') Source Title
            .col-6.col-md-4
                .card
                    .card-body
                        h5.card-title 8 Card title
                        p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
                        p.card-text
                            small.text-muted Last updated 3 mins ago
