extends ./extends/recommend_layout

block content

    div.main.p-2.flex-grow-1.bd-dark 
        .row.no-gutters
            .col-6.col-md-4
                .card(onclick="location.href='/orderDetail?oid=1'")
                    .card-header
                        .row.no-gutters
                            .col-6 
                                span.badge.badge-danger.bidType 收
                                | #1234567890
                            .col-6.text-right 今天 14:23
                    .card-body
                        img(src='/images/img1.png', alt='Card image cap')
                        h5.card-title.mb-1 标题最大2行....................
                        span.badge.badge-info.m-1 现
                        span.badge.badge-success.m-1 运
                        dl.row.no-gutters.mb-1
                            dt.col-4 目标
                            dd.col-8.mb-1 500000円
                            dt.col-4  数量
                            dd.col-8.mb-1  500000箱
                        img.star.float-left(src='/images/star1.png', alt='关注')
                        p.card-text.text-right
                            a(href="#") 
                                small 有10人出价
                    .card-footer
                        small.text-muted 株式会社 万象通商
            .col-6.col-md-4
                .card(onclick="location.href='/orderDetail?oid=1'")
                    .card-header
                        .row.no-gutters
                            .col-6 
                                span.badge.badge-primary.bidType 出
                                | #1234567890
                            .col-6.text-right 今天 14:23
                    .card-body
                        img(src='/images/img1.png', alt='Card image cap')
                        h5.card-title.mb-1 标题最大2行....................
                        span.badge.badge-info.m-1 现
                        span.badge.badge-success.m-1 运
                        dl.row.no-gutters.mb-1
                            dt.col-4 目标
                            dd.col-8.mb-1 500000円
                            dt.col-4  数量
                            dd.col-8.mb-1  500000箱
                        img.star.float-left(src='/images/star2.png', alt='关注')
                        p.card-text.text-right
                            a(href="#") 
                                small 有10人出价
                    .card-footer
                        small.text-muted 株式会社 万象通商
            .col-6.col-md-4
                .card(onclick="location.href='/orderDetail?oid=1'")
                    .card-header
                        .row.no-gutters
                            .col-6 
                                span.badge.badge-danger.bidType 收
                                | #1234567890
                            .col-6.text-right 今天 14:23
                    .card-body
                        img(src='/images/img1.png', alt='Card image cap')
                        h5.card-title.mb-1 标题最大2行....................
                        span.badge.badge-info.m-1 现
                        span.badge.badge-success.m-1 运
                        dl.row.no-gutters.mb-1
                            dt.col-4 目标
                            dd.col-8.mb-1 500000円
                            dt.col-4  数量
                            dd.col-8.mb-1  500000箱
                        img.star.float-left(src='/images/star1.png', alt='关注')
                        p.card-text.text-right
                            a(href="#") 
                                small 有10人出价
                    .card-footer
                        small.text-muted 株式会社 万象通商
            .col-6.col-md-4
                .card(onclick="location.href='/orderDetail?oid=1'")
                    .card-header
                        .row.no-gutters
                            .col-6 
                                span.badge.badge-primary.bidType 出
                                | #1234567890
                            .col-6.text-right 今天 14:23
                    .card-body
                        img(src='/images/img1.png', alt='Card image cap')
                        h5.card-title.mb-1 标题最大2行....................
                        span.badge.badge-info.m-1 现
                        span.badge.badge-success.m-1 运
                        dl.row.no-gutters.mb-1
                            dt.col-4 目标
                            dd.col-8.mb-1 500000円
                            dt.col-4  数量
                            dd.col-8.mb-1  500000箱
                        img.star.float-left(src='/images/star2.png', alt='关注')
                        p.card-text.text-right
                            a(href="#") 
                                small 有10人出价
                    .card-footer
                        small.text-muted 株式会社 万象通商
            .col-6.col-md-4
                .card(onclick="location.href='/orderDetail?oid=1'")
                    .card-header
                        .row.no-gutters
                            .col-6 
                                span.badge.badge-danger.bidType 收
                                | #1234567890
                            .col-6.text-right 今天 14:23
                    .card-body
                        img(src='/images/img1.png', alt='Card image cap')
                        h5.card-title.mb-1 标题最大2行....................
                        span.badge.badge-info.m-1 现
                        span.badge.badge-success.m-1 运
                        dl.row.no-gutters.mb-1
                            dt.col-4 目标
                            dd.col-8.mb-1 500000円
                            dt.col-4  数量
                            dd.col-8.mb-1  500000箱
                        img.star.float-left(src='/images/star1.png', alt='关注')
                        p.card-text.text-right
                            a(href="#") 
                                small 有10人出价
                    .card-footer
                        small.text-muted 株式会社 万象通商
            .col-6.col-md-4
                .card(onclick="location.href='/orderDetail?oid=1'")
                    .card-header
                        .row.no-gutters
                            .col-6 
                                span.badge.badge-primary.bidType 出
                                | #1234567890
                            .col-6.text-right 今天 14:23
                    .card-body
                        img(src='/images/img1.png', alt='Card image cap')
                        h5.card-title.mb-1 标题最大2行....................
                        span.badge.badge-info.m-1 现
                        span.badge.badge-success.m-1 运
                        dl.row.no-gutters.mb-1
                            dt.col-4 目标
                            dd.col-8.mb-1 500000円
                            dt.col-4  数量
                            dd.col-8.mb-1  500000箱
                        img.star.float-left(src='/images/star2.png', alt='关注')
                        p.card-text.text-right
                            a(href="#") 
                                small 有10人出价
                    .card-footer
                        small.text-muted 株式会社 万象通商
            .col-6.col-md-4
                .card(onclick="location.href='/orderDetail?oid=1'")
                    .card-header
                        .row.no-gutters
                            .col-6 
                                span.badge.badge-danger.bidType 收
                                | #1234567890
                            .col-6.text-right 今天 14:23
                    .card-body
                        img(src='/images/img1.png', alt='Card image cap')
                        h5.card-title.mb-1 标题最大2行....................
                        span.badge.badge-info.m-1 现
                        span.badge.badge-success.m-1 运
                        dl.row.no-gutters.mb-1
                            dt.col-4 目标
                            dd.col-8.mb-1 500000円
                            dt.col-4  数量
                            dd.col-8.mb-1  500000箱
                        img.star.float-left(src='/images/star1.png', alt='关注')
                        p.card-text.text-right
                            a(href="#") 
                                small 有10人出价
                    .card-footer
                        small.text-muted 株式会社 万象通商
           
