.footer.p-2.bg-dark
    nav.nav.nav-pills.flex-xs-column.flex-sm-row
        a.flex-fill.text-center.nav-link(href='/recommend' class=title === "recommend" ? "active" : "") 推荐
        |                 
        a.flex-fill.text-center.nav-link(href='#') 查找
        |                 
        a.flex-fill.text-center.nav-link(href='/myPage' class=title === "myPage" ? "active" : "") 我的
        |                 
        a.flex-fill.text-center.nav-link(href='#') 信息
        |                 
        a.flex-fill.text-center.nav-link(href='#') 个人
