meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport', content='width=device-width,user-scalable=yes,initial-scale=1.0')
meta(name='robots', content='index,follow')
meta(name='format-detection', content='telephone=no')

link(rel='stylesheet', href='/stylesheets/external_modules/bootstrap/bootstrap-4.1.3.min.css')
link(rel='stylesheet', href='/stylesheets/commons/common.css')

script(src="/external_modules/jquery/jquery-3.3.1.slim.min.js")
script(src="/external_modules/popper/popper-1.14.3.min.js")
script(src="/external_modules/bootstrap/bootstrap-4.1.3.min.js")

title=title